.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
    padding: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #373738;
    text-align: center;
    width: 100%;
}

footer ul {
    display: inline-block;
    vertical-align: bottom;
    color: aliceblue;
}